@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

.menu {
    display: grid;
    grid-template-columns: 1fr 9fr 0.5fr 0.5fr 1fr;

    background-color: black;
    color: ghostwhite;

    margin: 0;
    padding: 0;
}

.menu-item {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.brand {
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    color: ghostwhite;
    font-size: 28px;
}

.btn-search,
.btn-theme,
.btn-signIn {
    border: 1px solid transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 5px 12px;
    font-weight: 500;
}

.form-group {
    margin: 0 auto;
    width: 84%;
}

.email-area,
.password-area {
    width: 95%;
    margin: 1% 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.email-area:hover,
.password-area:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    transition: all 0.6s ease-in-out;
}

.email-area:active,
.email-area:focus,
password-area:active,
password-area:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    transition: all 0.6s ease-in-out;
}

.inside-menu { list-style-type: none; margin: 0; padding: 0; }

.inside-menu-item { margin: 1% 0; }

.inside-menu-link {
    font-family: 'Montserrat', sans-serif;
    color: #5a5a5a;
    font-size: 12px;
    font-weight: 500;

    margin: 0; padding: 0;
}

.auth-block {
    padding: 2% 0;
    display: grid;
    grid-template-columns: 8fr 4fr;
}

.btn-sign-in {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}