@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@100;200;300;400;500;700&family=Nanum+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

body { 
    margin: 0 !important;

    background-color: ghostwhite;
    color: black;

    font-family: 'Montserrat', sans-serif;
}

.btn {
    background-color: transparent;
    border: 1px solid ghostwhite;
    color: ghostwhite;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover { 
    background-color: ghostwhite;
    color: black;
    border: 1px solid black;
    transition: all 0.6s ease-in-out;
}

.btn:focus,
.btn:active {
    box-shadow: 5px 5px 45px 10px rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
}

.form-control {
    width: 80%;
    margin: 0;
    padding: 7px 10px;

    border: 1px solid black;
    border-radius: 5px;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
    box-shadow: 3px 3px 45px rgba(0, 0, 0, 0.5);
    transition: all 0.6s ease-in-out;
}